
#nav-bar-list{
    list-style-type: none;
}


.gallery-img{
    width: 10em;
    height: 7em;
    margin: 1em;
    transition: 0.5s;
}
.gallery-img:hover{
    width: 11em;
    height: 8em;
    margin: 0em;
    transition: 0.5s;
}
.gallery-img-c{
    width: 60em;
    height: 38em;
}

body{
    background: rgb(73,124,60);
background: linear-gradient(180deg, rgba(73,124,60,1) 0%, rgba(151,210,116,1) 33%, rgba(255,112,112,1) 66%, rgba(255,31,31,1) 100%);
}