.gallery-img{
    width: 10em;
    height: 7em;
    margin: 1em;
    transition: 0.5s;
}
.gallery-img:hover{
    width: 11em;
    height: 8em;
    margin: 0em;
    transition: 0.5s;
}
.gallery-img-c{
    width: 60em;
    height: 38em;
}